* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/**************************START FONTS****************************/

@font-face {
  font-family: 'Lumos';
  src: url('../fonts/Lumos-JRBj.woff') format('woff');
}

body {
  font-family: 'New Rocker', sans-serif;
}

/**************************END FONTS****************************/

/**************************START HEADER****************************/

.desktop-menu {
  display: none;
}

.mobile-nav {
  background-color: #000000;
	display: flex;
}

.logo {
  max-width: 35px;
  margin: 5px 0 5px 5%;
}
/**************************END HEADER****************************/


/* Start Navigation Animation */

nav ul li a {
	padding: 25px 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #C2C0C0;
}

nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.navbar > .active > a {
	color: #722424;
}

.navbar > .active-sly > a {
	color: #2B4F3D;
}

.navbar > .active-huf > a {
	color: #897936;
}

.navbar > .active-rav > a {
	color: #223E99;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* End Navigation Animation */

/**************************START MAIN****************************/

/*Homepage*/

.home-flex {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.midground, .foreground, .background {
	display: flex;
}

#home {
  width: 90%;
  margin: 0 auto;
  padding: 70px 0 30px 0;
}

.crest {
  width: 100%;
  padding-bottom: 25px;
	max-width: 350px;
  display: flex;
  margin: auto;
}

#home h1, #home h2 {
  text-align: center;
  font-size: 2.5rem;
  max-width: 245px;
  margin: auto;
  color: #ffffff;
}

.homepage-arrow {
	margin: 0 auto;
}

/* Gryffindor page */

.gold-background {
	background-color: #ad7f45;
	padding: 40px 0;
}

.g-border {
	border: 1px solid #ad7f45;
}

.red-bg {
	background-color: #541a1a;
	padding: 50px 0;
}

.gryffindor-hero {
	background-image: url(../images/lion.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  padding: 80px 0;
}

/* Slytherin page */

.black-background {
	background-color: #000000;
	padding: 40px 0;
}

.s-border {
	border: 1px solid #bec2cb;
}

.green-bg {
	background-color: #1d3529;
	padding: 50px 0;
}

.slytherin-hero {
	background-image: url(../images/snake.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  padding: 80px 0;
}

/* Hufflepuff page */

.gray-background {
	background-color: #222222;
	padding: 40px 0;
}

.h-border {
	border: 1px solid #000000;
}

.yellow-bg {
	background-color: #897936;
	padding: 50px 0;
}

.hufflepuff-hero {
	background-image: url(../images/badger.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  padding: 80px 0;
}

/* Ravenclaw page */

.brown-background {
	background-color: #a97142;
	padding: 40px 0;
}

.r-border {
	border: 1px solid #a97142;
}

.blue-bg {
	background-color: #0e1a40;
	padding: 50px 0;
}

.ravenclaw-hero {
	background-image: url(../images/raven.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  padding: 80px 0;
}

/* Styles that apply to all House pages */

.hero-text h1 {
	font-family: 'Lumos', serif;
	font-weight: 100;
	font-size: 3rem;
	color: #ffffff;
	text-align: center;
	margin: auto;
}

.glow {
	animation: glow 1s ease-in-out infinite alternate;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fcf6bd, 0 0 40px #fcf6bd, 0 0 50px #fcf6bd, 0 0 60px #fcf6bd, 0 0 70px #fcf6bd;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #fcf4a4, 0 0 40px #fcf4a4, 0 0 50px #fcf4a4, 0 0 60px #fcf4a4, 0 0 70px #fcf4a4, 0 0 80px #fcf4a4;
	}
}

.hero-text p {
	display: flex;
	justify-content: center;
	color: #ffffff;
}

.theme-heading {
	font-size: 2rem;
	letter-spacing: 0.1rem;
	font-weight: 100;
	text-align: center;
  color: #ffffff;
	width: 90%;
	margin: 0 auto;
}

.flex-container {
  display: flex;
  width: 100%;
  margin: auto;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
	max-width: 300px;
	margin-bottom: 50px;
	box-sizing: border-box;
	padding: 0 20px 20px 20px;
}

.flex-item:last-child {
	margin-bottom: 0;
}

.arrow {
	display: flex;
	margin: 50px auto 0 auto;
	justify-content: space-between;
	padding: 0 5% 0 5%;
}

/* Hover image effect */

.content {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  height: 99%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

h3 {
	color: #ffffff;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 100;
	padding: 30px 0;
}

.content-details h4 {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: 'Lumos', serif;
}

.content-details p {
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.fadeIn-bottom {
  top: 80%;
}

/**************************END MAIN****************************/

/**************************START FOOTER****************************/

footer {
	background-color: #000000;
	padding: 30px 0;
	text-align: center;
	color: #ffffff;
}

/**************************END FOOTER****************************/


/**************************START STARLIGHT ANIMATION****************************/
@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 5% 5%
	}
	to {
		background-position: 1300% 600%
	}
}

.background {
	background: black url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -3;
}

.midground {
	background: url(../images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -2;

	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.foreground {
	background: url(../images/foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -1;

	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

/**************************END STARLIGHT ANIMATION****************************/


/* ************************HAMBURGER MENU STYLES ***************************** */
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:15px 5% 0px 0px;
  color:#ffcb16;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 5% 0px 0px;
  color:#ffcb16;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; position:absolute; top: 45px; text-align:center; font-size:12px;}
.g-nav{background:#541a1a;}
.s-nav{background:#1d3529;}
.h-nav{background:#897936;}
.r-nav{background:#0e1a40;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.g-nav:hover{background:#722424;}
.s-nav:hover{background:#315944;}
.h-nav:hover{background:#ad9945;}
.r-nav:hover{background:#172e66;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#ffffff;}
.menu ul li a:hover {  color: #ffffff; text-decoration:none;}
.menu a{text-decoration:none; color:#ffffff;}
.menu a:hover{text-decoration:none; color:#ffffff;
}
/* ************************HAMBURGER MENU STYLES ***************************** */


/**************************START MIN-WIDTH 400px MEDIA QUERY****************************/

/* Homepage */

@media (min-width: 400px) {

	#home h1 {
		max-width: 500px;
	}

}

/**************************END MIN-WIDTH 400px MEDIA QUERY****************************/

/**************************START MIN-WIDTH 600px MEDIA QUERY****************************/

/* Homepage */

@media (min-width: 600px) {

	.mobile-nav, .hamburger, .cross {
		display: none;
	}

	.desktop-menu {
		display: flex;
		justify-content: center;
		background-color: #000000;
	}

	.desktop-menu ul {
		list-style-type: none;
		display: flex;
    align-items: center;
	}

	.desktop-menu ul li {
		display: inline;
		padding-right: 30px;
	}

	.desktop-menu ul li:last-child {
		padding-right: 0px;
	}

	.desktop-menu ul li a {
		text-decoration: none;
		color: #ffffff;
	}

	.logo {
		margin: 5px 30px 5px 0;
	}

	h1 {
		max-width: 500px;
	}

	.hero-text h1 {
		font-size: 4rem;
	}

	/* Styles that apply to all House pages */

	.flex-item {
		max-width: 400px;
	}

}

/**************************END MIN-WIDTH 600px MEDIA QUERY****************************/

/**************************START MIN-WIDTH 800px MEDIA QUERY****************************/

/* Homepage */

@media (min-width: 800px) {

	.desktop-menu ul li {
		padding-right: 45px;
	}

	.desktop-menu ul li:last-child {
		padding-right: 0px;
	}

	.logo {
		margin-right: 45px;
	}

	.homepage-arrow {
		display: flex;
		margin: 0;
		justify-content: flex-end;
    padding: 0 5% 0 5%;
	}

/* Styles that apply to all House pages */

	.flex-container {
		max-width: 900px;
		justify-content: space-evenly;
	}

}

/**************************END MIN-WIDTH 800px MEDIA QUERY****************************/

/**************************START MIN-WIDTH 1000px MEDIA QUERY****************************/

/* Homepage */

@media (min-width: 1000px) {

	.desktop-menu ul li {
		padding-right: 60px;
	}

	.desktop-menu ul li:last-child {
		padding-right: 0px;
	}

	.logo {
		margin-right: 60px;
	}

}

/**************************END MIN-WIDTH 1000px MEDIA QUERY****************************/

/**************************START MIN-WIDTH 1225px MEDIA QUERY****************************/

/* Styles that apply to all House pages */

@media (min-width: 1225px) {

	.flex-container {
		max-width: 1500px;
		width: 100%;
	}

	.flex-item {
		margin-bottom: 0;
	}

}

/**************************END MIN-WIDTH 1225px MEDIA QUERY****************************/
